<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li {
            list-style-type: none;
            padding: 5px;
        }
    </style>
</head>
<body>
    <header style="display:flex; justify-content: center; align-items: center; text-align: center;">
        {% if user.is_authenticated %}
            <li>                
                <a href="{% url 'accounts:logout' %}">Log out</a>
            </li>
        {% else %}
            <li>                
                <a href="{% url 'accounts:login' %}">Log in/Register</a>
            </li>
        {% endif %}
        <li>                
            <a href="{% url 'cars:brand_create' %}">Create Brand</a>
        </li>
        <li>                
            <a href="{% url 'cars:model_create' %}">Create Model</a>
        </li>
        <li>                
            <a href="{% url 'accounts:logout' %}">API</a>
        </li>
    </header>

    <div style="text-align: center; margin-top: 5%;">
        {% block content %}
      
        {% endblock %}
    </div>
    
</body>
</html>