<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
        {{message}}
    {% endfor %}
    <h1>Car Brands</h1>
        {% for brand in brands %}
            {{ brand }}
        {% endfor %}
    <h1>Car Models</h1>
        {% for model in models %}
            {{ model }}
        {% endfor %}
    <h1>User Cars</h1>
        {% for user_car in user_cars %}
            {{ user_car }}
        {% endfor %}
</body>
</html>