{% extends "base.html" %}

    {% block content %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
        <h1>Car Brands</h1>
            {% for brand in brands %}
                {{ brand }}
            {% endfor %}
        <h1>Car Models</h1>
            {% for model in models %}
                {{ model }}
            {% endfor %}
        <h1>User Cars</h1>
            {% for user_car in user_cars %}
                {{ user_car }}
            {% endfor %}
    {% endblock %}
